body {
    background-color: rgb(16, 14, 14);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.top {
    text-align: center;
    margin-top: 10px;
    height: 340px;
}

.topText {
    color: rgb(157, 155, 155);;
    font-size: 30px;
    font-style: italic;
    font-family: Brush Script MT, cursive;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.time {
    width: 100%;
    position: static;
    display: flex;
    flex-direction: column;
}

.timeHours {
    flex: 0 0 80%;
    font-family: sans-serif;
    font-size: 200px;
    color: rgb(157, 155, 155);
    position: static;
    text-align: center;

}
.timeDate {
    flex: 0 0 20%;
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(157, 155, 155);
    text-align: center;
    margin-top: -30px;
}

.content {
    border-radius: 25px;
    background-color: rgb(16, 14, 14);
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 700px;
}

.unisafka{
    margin-left: 30px;
    position: static;
    width: 50%;
    flex: 0 0 autp;
    text-overflow: ellipsis;
}


.restaurant {
    margin: 5px 0;
    margin-right: 20px;
    padding: 10px;
    font-size: 18px;
    color: #ffffff;
    border-radius: 0 0 15px 15px;
    background-color: hsl(202, 73%, 71%);
    text-overflow: ellipsis;
}

.restaurant-header {
    margin-top: 15px;
    margin-right: 20px;
    font-size: 24px;
    color: #fff;
    background-color: rgba(13, 0, 255, 0.603);
    background-blend-mode: darken;
    border-radius: 15px 15px 0 0;
    padding: 8px;
    text-align: center;
}


.rightside{
    position: static;
    margin-right: 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.weather-icons {
    margin-top: 15px;
    margin-right: 5px;
    background-color: #93c0fc80;
    border-radius: 15px 15px 15px 15px;
    position: static;
    display: flex;
    flex-direction: row;
    height: 60px;
}

.time-icon {
    position: static;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.temp-icon {
    position: static;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rain-icon {
    position: static;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wind-icon {
    position: static;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.windSpeed-icon {
    position: static;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.weather {
    margin-top: 15px;
    margin-left: 10px;
    position: static;
    height: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.timeW-header {
    position: static;
    flex: 1;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
}

.timeWeather {
    position: static;
    flex: auto;
    color: #fff;
}


.t-header {
    position: static;
    flex: 1;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
}


.temp {
    position: static;
    flex: auto;
    color: #fff;
    border-radius: 15px 15px 15px 15px;
}

.r-header {
    position: static;
    flex: 1;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

.rain {
    position: static;
    flex: auto;
    color: #fff;
}

.w-header {
    position: static;
    flex: 1;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

.windDir {
    margin-top: -12px;
    position: static;
    flex: auto;
    color: #fff;
}

.s-header {
    position: static;
    flex: 1;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

.windSpeed {
    position: static;
    flex: auto;
    color: #fff;
}

.nysse {
    position: static;
    margin-top: 20px;
    height: 500px;
}

.nysse-header {
    margin-top: 5px;
    margin-right: 10px;
    font-size: 24px;
    color: #fff;
    background-color: rgba(13, 0, 255, 0.603);
    background-blend-mode: darken;
    border-radius: 15px 15px 0 0;
    padding: 8px;
    text-align: center;
}

.departure {
    margin: 5px 0;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    background-color: hsla(0, 67%, 36%, 0.644);
    text-overflow: ellipsis;
}

